---
layout: default
---

{% if site.posts.size == 0 %}
<p>No posts yet — the first curious idea is on its way.</p>
{% else %}
<h1 class="content-title divided">Contents</h1>
<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <a class="post-link" href="{{ post.url | relative_url }}">
      <span class="post-link__title">{{ post.title }}</span>
      <span class="post-date">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%b %-d, '%y" }}
        </time>
      </span>
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
